@using WebApplication.Models;
@model WebApplication.Models.UserViewModel

@{
    Layout = null;
    ViewData["Mode"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm("Update", "UserPage", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>User Edit Form</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.Partial("UserNameView")
            @Html.Partial("PasswordView")
            @Html.Partial("AssignableRolesView", ViewData)

        </div>
        <div class="form-group">
            <hr />
            <br />
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

    }

</body>
</html>
